/* background */
:root{
    --background: url("https://images5.alphacoders.com/114/1141137.jpg");
                        /* Put your background here ^^ */
}

body {
    background: #000000 var(--background) center/100% fixed !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
}
